.about 
    .container 
        .about-container
            h3.about-title What other are saying about servicename?
            .about-slider
                .swiper-pagination
                .swiper-button-prev
                .swiper-button-next
                .about-carusel.swiper-wrapper
                    .about-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='4')
                        p.about-carusel__text As I was a newcomer on Instagram, I did not have enough audience to run my business successfully. Each day I thought how to get more orders and did my best to attract new followers in an organic way. And one day I found a website offering promotion services at low prices and it was like a gift that keeps on giving for me!
                        .about-carusel__author 
                            img.about-carusel__author-avatar(src="./images/about/01.jpg", alt="фото автора")
                            .about-carusel__author-info
                                .about-carusel__author-name Oscar Johnson 
                                .about-carusel__author-date
                                    span 13
                                    span May
                                    span 2020
                    .about-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='3')
                        p.about-carusel__text I have been using the services of Martaby for more than half a year and I must say that it has really helped my business grow. And I am grateful to the support team, who always provide me assistance whenever I get any questions.

                        .about-carusel__author 
                            img.about-carusel__author-avatar(src="./images/about/02.jpg", alt="фото автора")
                            .about-carusel__author-info
                                .about-carusel__author-name Grace Buckley
                                .about-carusel__author-date
                                    span 13
                                    span May
                                    span 2020
                    .about-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='4.5')
                        p.about-carusel__text I spent quite a lot of time trying to get followers organically and then my friend recommended me to use promotion services of Martaby. I was surprised that they don’t cost much and are really effective if you want to boost your sales.

                        .about-carusel__author 
                            img.about-carusel__author-avatar(src="./images/about/03.jpg", alt="фото автора")
                            .about-carusel__author-info
                                .about-carusel__author-name Keira Maddya
                                .about-carusel__author-date
                                    span 13
                                    span May
                                    span 2020
                    .about-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='4')
                        p.about-carusel__text As I was a newcomer on Instagram, I did not have enough audience to run my business successfully. Each day I thought how to get more orders and did my best to attract new followers in an organic way. And one day I found a website offering promotion services at low prices and it was like a gift that keeps on giving for me!

                        .about-carusel__author 
                            img.about-carusel__author-avatar(src="./images/about/01.jpg", alt="фото автора")
                            .about-carusel__author-info
                                .about-carusel__author-name Keira Maddya
                                .about-carusel__author-date
                                    span 13
                                    span May
                                    span 2020
                    .about-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='3')
                        p.about-carusel__text I have been using the services of Martaby for more than half a year and I must say that it has really helped my business grow. And I am grateful to the support team, who always provide me assistance whenever I get any questions.!

                        .about-carusel__author 
                            img.about-carusel__author-avatar(src="./images/about/02.jpg", alt="фото автора")
                            .about-carusel__author-info
                                .about-carusel__author-name Grace Buckley
                                .about-carusel__author-date
                                    span 13
                                    span May
                                    span 2020
                    .about-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='4.5')
                        p.about-carusel__text I spent quite a lot of time trying to get followers organically and then my friend recommended me to use promotion services of Martaby. I was surprised that they don’t cost much and are really effective if you want to boost your sales.
                    

                        .about-carusel__author 
                            img.about-carusel__author-avatar(src="./images/about/03.jpg", alt="фото автора")
                            .about-carusel__author-info
                                .about-carusel__author-name Oscar Johnson
                                .about-carusel__author-date
                                    span 13
                                    span May
                                    span 2020       



