@font-face {
	font-family: "museo_sans";
	src: url("../../fonts/museosanscyrl_300.woff2") format("woff2"),
		url("../../fonts/museosanscyrl_300.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "museo_sans";
	src: url("../../fonts/museosanscyrl_500.woff2") format("woff2"),
		url("../../fonts/museosanscyrl_500.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "museo_sans";
	src: url("../../fonts/museosanscyrl_700.woff2") format("woff2"),
		url("../../fonts/museosanscyrl_700.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "museo_sans";
	src: url("../../fonts/museosanscyrl_900.woff2") format("woff2"),
		url("../../fonts/museosanscyrl_900.woff2") format("woff");
	font-weight: normal;
	font-style: normal;
}
