@mixin bg-img-center {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

@mixin img-style {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin absolute-left-center {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

@mixin absolute-center-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//flex

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin flex-between-start {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
@mixin flex-between-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@mixin flex-between-end {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
@mixin flex-around-center {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
@mixin flex-column-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
@mixin flex-column-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
@mixin flex-column-end {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@mixin flex-column-reverse-start {
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
}
@mixin flex-column-reverse-center {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

// button

@mixin button {
	font-size: 1rem;
	line-height: 1.2rem;
	text-align: center;
	color: $white;
	background: linear-gradient(90deg, #6078ff 0%, #794cd6 100%, #794cd6 100%);
	box-shadow: 0px 0.1rem 1.2rem rgba(0, 0, 0, 0.11);
	border-radius: 1rem;
	padding: 0.5rem 1.2rem;
	@media (min-width: 768px) {
		font-size: 1.2rem;
		line-height: 1.8rem;
		padding: 1rem 2.5rem;
	}
	@media (min-width: 1024px) {
		font-size: 1.6rem;
		line-height: 2.5rem;
		padding: 2rem 5rem;
	}

	svg {
		margin-left: 15px;
	}
}

// title

@mixin title {
	position: relative;
	font-weight: 600;
	font-size: 3.6rem;
	line-height: 4.3rem;
	text-align: center;
	color: $title;
	margin-bottom: 1.9rem;
	&:before {
		content: "";
		position: absolute;
		top: 72%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 29rem;
		height: 0.5rem;
		background: $gradient;
		border-radius: 0.3rem;
		z-index: -1;
	}
}
