section.feedback(id='feedback') 
    .container 
        .feedback-container
            h3.feedback-title What other are saying about servicename?
            .feedback-slider
                .swiper-pagination
                .swiper-button-prev
                .swiper-button-next
                .feedback-carusel.swiper-wrapper
                    .feedback-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='4')            
                        p.feedback-carusel__text As I was a newcomer on Instagram, I did not have enough audience to run my business successfully. Each day I thought how to get more orders and did my best to attract new followers in an organic way. And one day I found a website offering promotion services at low prices and it was like a gift that keeps on giving for me!
                        .feedback-carusel__author
                            a.feedback-link(href="#")                         
                                img.feedback-carusel__author-avatar(src="./images/feedback/01.jpg", alt="фото автора")
                            .feedback-carusel__author-info
                                .feedback-carusel__author-name Oscar Johnson 
                                .feedback-carusel__author-date
                                    span 13
                                    span May
                                    span 2020

                    .feedback-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='3')
                        p.feedback-carusel__text I have been using the services of Martaby for more than half a year and I must say that it has really helped my business grow. 
                        .feedback-carusel__author
                            a.feedback-link(href="#")
                                img.feedback-carusel__author-avatar(src="./images/feedback/02.jpg", alt="фото автора")
                            .feedback-carusel__author-info
                                .feedback-carusel__author-name Grace Buckley
                                .feedback-carusel__author-date
                                    span 13
                                    span May
                                    span 2020

                    .feedback-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='4.5')
                        p.feedback-carusel__text I spent quite a lot of time trying to get followers organically and then my friend recommended me to use promotion services of Martaby. I was surprised that they don’t cost much and are really effective if you want to boost your sales.
                        .feedback-carusel__author
                            a.feedback-link(href="#")                        
                                img.feedback-carusel__author-avatar(src="./images/feedback/03.jpg", alt="фото автора")
                            .feedback-carusel__author-info
                                .feedback-carusel__author-name Keira Maddya
                                .feedback-carusel__author-date
                                    span 13
                                    span May
                                    span 2020

                    .feedback-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='2')
                        p.feedback-carusel__text As I was a newcomer on Instagram, I did not have enough audience to run my business successfully. Each day I thought how to get more orders and did my best to attract new followers in an organic way. And one day I found a website offering promotion services at low prices and it was like a gift that keeps on giving for me!
                        .feedback-carusel__author 
                            a.feedback-link(href="#")                        
                                img.feedback-carusel__author-avatar(src="./images/feedback/04.jpg", alt="фото автора")
                            .feedback-carusel__author-info
                                .feedback-carusel__author-name  Oscar Johnson
                                .feedback-carusel__author-date
                                    span 13
                                    span May
                                    span 2020

                    .feedback-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='3')
                        p.feedback-carusel__text I have been using the services of Martaby for more than half a year and I must say that it has really helped my business grow. And I am grateful to the support team, who always provide me assistance whenever I get any questions.!
                        .feedback-carusel__author 
                            a.feedback-link(href="#")
                                img.feedback-carusel__author-avatar(src="./images/feedback/05.jpg", alt="фото автора")
                            .feedback-carusel__author-info
                                .feedback-carusel__author-name Grace Buckley
                                .feedback-carusel__author-date
                                    span 13
                                    span May
                                    span 2020

                    .feedback-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='1.5')
                        p.feedback-carusel__text I spent quite a lot of time trying to get followers organically and then my friend recommended me to use promotion services of Martaby. I was surprised that they don’t cost much and are really effective if you want to boost your sales.
                        .feedback-carusel__author 
                            a.feedback-link(href="#")
                                img.feedback-carusel__author-avatar(src="./images/feedback/06.jpg", alt="фото автора")
                            .feedback-carusel__author-info
                                .feedback-carusel__author-name Keira Maddya
                                .feedback-carusel__author-date
                                    span 13
                                    span May
                                    span 2020    

                    .feedback-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='3.5')
                        p.feedback-carusel__text As I was a newcomer on Instagram, I did not have enough audience to run my business successfully. Each day I thought how to get more orders and did my best to attract new followers in an organic way!
                        .feedback-carusel__author
                            a.feedback-link(href="#") 
                                img.feedback-carusel__author-avatar(src="./images/feedback/07.jpg", alt="фото автора")
                            .feedback-carusel__author-info
                                .feedback-carusel__author-name  Oscar Johnson
                                .feedback-carusel__author-date
                                    span 13
                                    span May
                                    span 2020

                    .feedback-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='5')
                        p.feedback-carusel__text I have been using the services of Martaby for more than half a year and I must say that it has really helped my business grow. And I am grateful to the support team, who always provide me assistance whenever I get any questions.!
                        .feedback-carusel__author 
                            a.feedback-link(href="#")
                                img.feedback-carusel__author-avatar(src="./images/feedback/08.jpg", alt="фото автора")
                            .feedback-carusel__author-info
                                .feedback-carusel__author-name Grace Buckley
                                .feedback-carusel__author-date
                                    span 13
                                    span May
                                    span 2020
                                    
                    .feedback-carusel__item.swiper-slide 
                        .star(data-rateyo-rating='2.5')
                        p.feedback-carusel__text I spent quite a lot of time trying to get followers organically and then my friend recommended me to use promotion services of Martaby. I was surprised that they don’t cost much and are really effective if you want to boost your sales. I spent quite a lot of time trying to get followers organically and then my friend recommended me to use promotion services of Martaby. I was surprised that they don’t cost much and are really effective if you want to boost your sales.
                    
                        .feedback-carusel__author 
                            a.feedback-link(href="#")
                                img.feedback-carusel__author-avatar(src="./images/feedback/09.jpg", alt="фото автора")
                            .feedback-carusel__author-info
                                .feedback-carusel__author-name Keira Maddya
                                .feedback-carusel__author-date
                                    span 13
                                    span May
                                    span 2020                 



