.services
    .container 
        .services-container 
            .services-info 
                h3.services-info__title Real Instagram Followers
                span.services-info__text Grow through creative, strategic, paid advertising with no risks
            .services-card.services-card__blue
                .services-card__discount - 30%
                .services-card__round
                .services-card__title Basic
                hr
                .services-card__price 
                    span.services-card__price-old $30
                    span.services-card__price-new $20
                    span.services-card__price-subsc / for #[b 500] subscribers
                    span.services-card__price-package Package includes the following
                .services-card__mode
                    span.services-card__mode-time 
                        +icon('services-clock')
                        |Start time in 2-15 min 
                    span.services-card__mode-start 
                        +icon('services-start')
                        |Speed is above 1000 per/day 
                .services-card__list 
                    ul.services-card__list-items 
                        li.services-card__list-item 
                            +icon('checked')
                            |Instant Delivery. Guaranteed
                        li.services-card__list-item 
                            +icon('checked')
                            |No Bots, Real Followers
                        li.services-card__list-item 
                            +icon('checked')
                            |Worldwide Targeting
                        li.services-card__list-item 
                            +icon('checked')
                            |No Password Required
                        li.services-card__list-item 
                            +icon('checked')
                            |Priority 24/7 Support 
                        a.services-card__btn(href="#") Buy Now   
                            span
                                +icon('arrow-btn')      

            .services-card.services-card__orange
                .services-card__discount - 30%
                .services-card__round
                .services-card__title Basic
                hr
                .services-card__price 
                    span.services-card__price-old $40
                    span.services-card__price-new $20
                    span.services-card__price-subsc  / for #[b 500] subscribers
                    span.services-card__price-package   Package includes the following
                .services-card__mode
                    span.services-card__mode-time 
                        +icon('services-clock') 
                        |Start time in 2-15 min 
                    span.services-card__mode-start 
                        +icon('services-start')
                        |Speed is above 1000 per/day 
                .services-card__list 
                    ul.services-card__list-items 
                        li.services-card__list-item 
                            +icon('checked')
                            |Instant Delivery. Guaranteed
                        li.services-card__list-item 
                            +icon('checked')
                            |No Bots, Real Followers
                        li.services-card__list-item 
                            +icon('checked')
                            |Worldwide Targeting
                        li.services-card__list-item 
                            +icon('checked')
                            |No Password Required
                        li.services-card__list-item 
                            +icon('checked')
                            |Priority 24/7 Support 
                    a.services-card__btn(href="#") Buy Now     
                        span
                            +icon('arrow-btn')           

            .services-card.services-card__pink
                .services-card__discount - 30%
                .services-card__round 
                .services-card__title Basic
                hr
                .services-card__price 
                    span.services-card__price-old $50
                    span.services-card__price-new $20
                    span.services-card__price-subsc  / for #[b 500] subscribers
                    span.services-card__price-package   Package includes the following
                .services-card__mode
                    span.services-card__mode-time 
                        +icon('services-clock')
                        |Start time in 2-15 min 
                    span.services-card__mode-start 
                        +icon('services-start')
                        |Speed is above 1000 per/day
                .services-card__list 
                    ul.services-card__list-items
                        li.services-card__list-item 
                            +icon('checked')
                            |Instant Delivery. Guaranteed
                        li.services-card__list-item 
                            +icon('checked')
                            |No Bots, Real Followers
                        li.services-card__list-item 
                            +icon('checked')
                            |Worldwide Targeting
                        li.services-card__list-item 
                            +icon('checked')
                            |No Password Required
                        li.services-card__list-item 
                            +icon('checked')
                            |Priority 24/7 Support 
                    a.services-card__btn(href="#") Buy Now  
                        span
                            +icon('arrow-btn')              

            .services-card.services-card__blue
                .services-card__discount - 30%
                .services-card__round
                .services-card__title Basic
                    hr
                .services-card__price 
                    span.services-card__price-old $30
                    span.services-card__price-new $20
                    span.services-card__price-subsc / for #[b 500] subscribers
                    span.services-card__price-package Package includes the following
                .services-card__mode
                    span.services-card__mode-time 
                        +icon('services-clock')
                        |Start time in 2-15 min 
                    span.services-card__mode-start 
                        +icon('services-start')
                        |Speed is above 1000 per/day 
                .services-card__list 
                    ul.services-card__list-items 
                        li.services-card__list-item 
                            +icon('checked')
                            |Instant Delivery. Guaranteed
                        li.services-card__list-item 
                            +icon('checked')
                            |No Bots, Real Followers
                        li.services-card__list-item 
                            +icon('checked')
                            |Worldwide Targeting
                        li.services-card__list-item 
                            +icon('checked')
                            |No Password Required
                        li.services-card__list-item 
                            +icon('checked')
                            |Priority 24/7 Support 
                        a.services-card__btn(href="#") Buy Now   
                            span
                                +icon('arrow-btn')      

            .services-card.services-card__orange
                .services-card__discount - 30%
                .services-card__round
                .services-card__title Basic
                    hr
                .services-card__price 
                    span.services-card__price-old $40
                    span.services-card__price-new $20
                    span.services-card__price-subsc  / for #[b 500] subscribers
                    span.services-card__price-package   Package includes the following
                .services-card__mode
                    span.services-card__mode-time 
                        +icon('services-clock') 
                        |Start time in 2-15 min 
                    span.services-card__mode-start 
                        +icon('services-start')
                        |Speed is above 1000 per/day 
                .services-card__list 
                    ul.services-card__list-items 
                        li.services-card__list-item 
                            +icon('checked')
                            |Instant Delivery. Guaranteed
                        li.services-card__list-item 
                            +icon('checked')
                            |No Bots, Real Followers
                        li.services-card__list-item 
                            +icon('checked')
                            |Worldwide Targeting
                        li.services-card__list-item 
                            +icon('checked')
                            |No Password Required
                        li.services-card__list-item 
                            +icon('checked')
                            |Priority 24/7 Support 
                    a.services-card__btn(href="#") Buy Now     
                        span
                            +icon('arrow-btn')           

            .services-card.services-card__pink
                .services-card__discount - 30%
                .services-card__round 
                .services-card__title Basic
                hr
                .services-card__price 
                    span.services-card__price-old $50
                    span.services-card__price-new $20
                    span.services-card__price-subsc  / for #[b 500] subscribers
                    span.services-card__price-package   Package includes the following
                .services-card__mode
                    span.services-card__mode-time 
                        +icon('services-clock')
                        |Start time in 2-15 min 
                    span.services-card__mode-start 
                        +icon('services-start')
                        |Speed is above 1000 per/day
                .services-card__list 
                    ul.services-card__list-items
                        li.services-card__list-item 
                            +icon('checked')
                            |Instant Delivery. Guaranteed
                        li.services-card__list-item 
                            +icon('checked')
                            |No Bots, Real Followers
                        li.services-card__list-item 
                            +icon('checked')
                            |Worldwide Targeting
                        li.services-card__list-item 
                            +icon('checked')
                            |No Password Required
                        li.services-card__list-item 
                            +icon('checked')
                            |Priority 24/7 Support 
                    a.services-card__btn(href="#") Buy Now  
                        span
                            +icon('arrow-btn')              
