extends ../layouts/default
include ../blocks/utils/mixins

block head
	- var pageTitle = '';

block header
	include ../blocks/header/_header

block content
	main.main
		include ../blocks/sections/partners/_partners
		include ../blocks/sections/advantages/_advantages
		include ../blocks/sections/dreams/_dreams
		include ../blocks/sections/steps/_steps
		include ../blocks/sections/services/_services
		include ../blocks/sections/about/_about
		

block footer
	include ../blocks/footer/footer