.dreams
    .container 
        .dreams-container 
            .dreams-users
                ul.dreams-users__items
                    li.dreams-users__item
                        img.dreams-users__img(src="./images/dreams/01.jpg", alt="фото автора")
                    li.dreams-users__item
                        img.dreams-users__img(src="./images/dreams/02.jpg", alt="фото автора")
                    li.dreams-users__item
                        img.dreams-users__img(src="./images/dreams/03.jpg", alt="фото автора")
                    li.dreams-users__item
                        img.dreams-users__img(src="./images/dreams/04.jpg", alt="фото автора")
                    li.dreams-users__item
                        img.dreams-users__img(src="./images/dreams/05.jpg", alt="фото автора")
                    li.dreams-users__item
                        img.dreams-users__img(src="./images/dreams/06.jpg", alt="фото автора")
                    li.dreams-users__item
                        img.dreams-users__img(src="./images/dreams/07.jpg", alt="фото автора")
                    li.dreams-users__item
                        img.dreams-users__img(src="./images/dreams/08.jpg", alt="фото автора")
                    li.dreams-users__item
                        img.dreams-users__img(src="./images/dreams/09.jpg", alt="фото автора")



            .dreams-desccription
                