section.dreams(id='dream')
    .container 
        .dreams-container 
            .dreams-users
                ul.dreams-users__items
                    li.dreams-users__item
                        a.dreams-users__link(href="#") 
                            img.dreams-users__img(src="./images/dreams/01.jpg", alt="фото автора")
                            
                            .dreams-users__comment                    
                                +icon('comment') 
                                span.   
                                    12
                                +icon('heart')
                                span. 
                                    88
                                +icon('user')
                                span. 
                                    11   
                    
                    li.dreams-users__item
                        a.dreams-users__link(href="#") 
                            img.dreams-users__img(src="./images/dreams/02.jpg", alt="фото автора")
                            
                            .dreams-users__comment                    
                                +icon('comment') 
                                span.   
                                    12
                                +icon('heart')
                                span. 
                                    88
                                +icon('user')
                                span. 
                                    11   
                    
                    li.dreams-users__item
                        a.dreams-users__link(href="#") 
                            img.dreams-users__img(src="./images/dreams/03.jpg", alt="фото автора")
                            
                            .dreams-users__comment                    
                                +icon('comment') 
                                span.   
                                    12
                                +icon('heart')
                                span. 
                                    88
                                +icon('user')
                                span. 
                                    11   
                    
                    li.dreams-users__item
                        a.dreams-users__link(href="#") 
                            img.dreams-users__img(src="./images/dreams/04.jpg", alt="фото автора")
                            .dreams-users__comment                    
                                +icon('comment') 
                                span.   
                                    12
                                +icon('heart')
                                span. 
                                    88
                                +icon('user')
                                span. 
                                    11   
                    
                    li.dreams-users__item
                        a.dreams-users__link(href="#") 
                            img.dreams-users__img(src="./images/dreams/05.jpg", alt="фото автора")
                            .dreams-users__comment                    
                                +icon('comment') 
                                span.   
                                    12
                                +icon('heart')
                                span. 
                                    88
                                +icon('user')
                                span. 
                                    11   
                    
                    li.dreams-users__item
                        a.dreams-users__link(href="#") 
                            img.dreams-users__img(src="./images/dreams/06.jpg", alt="фото автора")
                            .dreams-users__comment                    
                                +icon('comment') 
                                span.   
                                    12
                                +icon('heart')
                                span. 
                                    88
                                +icon('user')
                                span. 
                                    11   
                    
                    li.dreams-users__item
                        a.dreams-users__link(href="#") 
                            img.dreams-users__img(src="./images/dreams/07.jpg", alt="фото автора")
                            .dreams-users__comment                    
                                +icon('comment') 
                                span.   
                                    12
                                +icon('heart')
                                span. 
                                    88
                                +icon('user')
                                span. 
                                    11   
                    
                    li.dreams-users__item
                        a.dreams-users__link(href="#") 
                            img.dreams-users__img(src="./images/dreams/08.jpg", alt="фото автора")
                            .dreams-users__comment                    
                                +icon('comment') 
                                span.   
                                    12
                                +icon('heart')
                                span. 
                                    88
                                +icon('user')
                                span. 
                                    11   
                    
                    li.dreams-users__item
                        a.dreams-users__link(href="#") 
                            img.dreams-users__img(src="./images/dreams/09.jpg", alt="фото автора")
                            .dreams-users__comment                    
                                +icon('comment') 
                                span.   
                                    52
                                +icon('heart')
                                span. 
                                    45
                                +icon('user')
                                span. 
                                    22




            .dreams-description
                a.advantages-social(href="#")
                    span Instagramm
                    span.advantages-social__icon 
                        +icon('checked')
                h4.dreams-description__title High time to make your dreams come true!

                p.dreams-description__text Are you still working in an office from dawn to twilight and thinking about the way how to launch new business? It is high time to change your life and Martaby is here to help you!  A high-quality advertisement on the Internet is a key to success and social networks are considered the best platform to get your targeted public. Buying followers or subscribers is an urgent solution for promoting business projects, regardless of whether they are about information products or ordinary goods or services. The Internet has become an essential tool for communicating with customers, and an irreplaceable platform for successful business.
