header.header
	.container
		nav.nav 
			a(href="#") 
				img.nav__logo(src="./images/icons/logo-martaby.svg", alt="logo")
			ul.nav__menu 
				li.nav__items
					a.nav__link(href="#dream") About Us
				li.nav__items
					a.nav__link(href="#service") Tariff
				li.nav__items
					a.nav__link(href="#advantage") Our services
				li.nav__items
					a.nav__link(href="#feedback")  Feedback
			.nav__purchase
				.nav__purchase-btn
				button.nav__btn 
					+icon('cart')
					span.nav__num 3
				.nav__purchase-count 
					span.nav__purchase-text Purchases at:
					span.nav__purchase-price $ 
						span 44,50
		.header-description
			.header-description__info 
				h2.header-description__title Build follower growth and engagement <br>
					span.header-description__title-blue on Instagramm
				p.header-description__text Gain up to 5,000 real followers per month with pay-as-you-go pricing with a 10-day money-back guarantee.
				a.header-description__link(href="#") Get free viewers
					+icon('arrow-btn')
			.header-description__images
		