.header {
	padding-top: 3rem;
	background-color: #fbfbfd;
	position: relative;
	.icon-cart {
		fill: $white;
	}
}
.nav {
	@include flex-between-center;
	&__menu {
		@include flex-between-center;
	}
	padding-bottom: 0;
	@media (min-width: 768px) {
		padding-bottom: 6;
	}
	@media (min-width: 1024px) {
		padding-bottom: 10rem;
	}
	&__items {
		margin-right: 2rem;
		@media (min-width: 768px) {
			margin-right: 5rem;
		}
	}
	&__link {
		font-weight: 500;
		font-size: 1.6rem;
		text-align: center;
		color: #333333;
	}
	&__purchase {
		@include flex-between-center;
		position: relative;
	}
	&__btn {
		width: 8.4rem;
		padding: 1.5rem 3rem;
		margin-right: 1.5rem;
		background-color: $color-nav;
		box-shadow: 0 0.1rem 1.2rem rgba(0, 0, 0, 0.11);
		border-radius: 3rem;
	}
	&__num {
		position: absolute;
		width: 1.4rem;
		height: 1.4rem;
		bottom: 25%;
		left: 25%;
		font-weight: 700;
		color: $color-nav;
		border-radius: 50%;
		background: $white;
		line-height: 1.5rem;
		text-align: center;
	}

	&__purchase-text {
		display: block;
		font-size: 1.4rem;
		line-height: 1.7rem;
		font-weight: 700;
		text-align: center;
		color: #333333;
	}
	&__purchase-price {
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		text-align: center;
		color: $color-nav;
	}
}

.header-description {
	@include flex-center;
	padding-bottom: 1rem;
	@media (min-width: 768px) {
		@include flex-center;
		padding-bottom: 2.5rem;
	}
	@media (min-width: 1024px) {
		@include flex-between-center;
		padding-bottom: 4.5rem;
	}

	&__info {
		flex: 0 0 25rem;
		@media (min-width: 768px) {
			flex: 0 0 40rem;
		}
		@media (min-width: 1024px) {
			flex: 0 0 50rem;
		}
	}
	&__title {
		font-weight: 600;
		font-size: 2.5rem;
		line-height: 2.5rem;
		color: $title;
		@media (min-width: 768px) {
			font-size: 3rem;
			line-height: 3.5rem;
		}
		@media (min-width: 1024px) {
			font-size: 4.6rem;
			line-height: 5.5rem;
		}
		&-blue {
			color: $color-nav;
		}
	}
	&__text {
		margin-top: 1.5rem;
		font-size: 1.8rem;
		line-height: 2.9rem;
		color: $title;
		margin-bottom: 10px;
	}

	&__link {
		@include button;
	}

	&__images {
		position: relative;
		width: 9rem;
		height: 18rem;
		background-image: url(../../images/header-bg.png);
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		@media (min-width: 768px) {
			width: 23rem;
			height: 30rem;
		}
		@media (min-width: 1024px) {
			width: 43rem;
			height: calc(100% - 45);
		}
		@media (min-width: 1200px) {
			width: 56rem;
			height: 56rem;
		}
	}
	.icon-arrow-btn {
		width: 1rem;
		height: 1rem;
		fill: $white;
	}
}
