header.header
	.container
		nav.nav 
			a(href="#") 
				img.nav__logo(src="./images/icons/logo-martaby.svg", alt="logo")
			ul.nav__menu 
				li.nav__items
					a.nav__link(href="#") About Us
				li.nav__items
					a.nav__link(href="#") Tariff
				li.nav__items
					a.nav__link(href="#") Our services
				li.nav__items
					a.nav__link(href="#")  Feedback
			.nav__purchase
				.nav__purchase-btn
				button.nav__btn 
					+icon('cart')
					span.nav__num 3
				.nav__purchase-count 
					span.nav__purchase-text Purchases at:
					span.nav__purchase-price $ 
						span 44,50
		.header-description
			.header-description__info 
				h2.header-description__title Build follower growth and engagement <br>
					span.header-description__title-blue on Instagramm
				p.header-description__text Gain up to 5,000 real followers per month with pay-as-you-go pricing with a 10-day money-back guarantee.
				a.header-description__link(href="#") Get free viewers
					<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0)">
						<path d="M7.5864 5.27429L2.96111 9.88679C2.80957 10.0378 2.56422 10.0376 2.41293 9.88601C2.26176 9.73447 2.26215 9.48898 2.41371 9.33783L6.76369 4.99986L2.41355 0.66191C2.26201 0.510739 2.26162 0.265408 2.41277 0.113846C2.48861 0.0378695 2.58797 -0.000119209 2.68732 -0.000119209C2.78642 -0.000119209 2.88539 0.0376158 2.96109 0.113065L7.5864 4.72545C7.65939 4.79807 7.70035 4.89689 7.70035 4.99986C7.70035 5.10283 7.65928 5.20154 7.5864 5.27429Z" fill="white"/>
						</g>
						<defs>
						<clipPath id="clip0">
						<rect width="10" height="10" fill="white" transform="matrix(1 0 0 -1 0 10)"/>
						</clipPath>
						</defs>
						</svg>


			.header-description__images
		