.promo {
	background: url("../images/decoration/rotate-bg-br.png") 0 0 no-repeat,
		url("../images/decoration/rotate-bg-br.png") 0 0 no-repeat;
	background-position: 0 50%, 100% 70%;
	background-size: 28% 75%;
	background-color: $blue;
	text-align: center;
	&__title {
		margin: auto auto;
		max-width: 75.5rem;
		font-weight: bold;
		font-size: 4.6rem;
		line-height: 5.5rem;
		letter-spacing: 0.05em;
		color: $white;
		padding-bottom: 5rem;
	}
	&__btn {
		@include button;
	}
	.icon-arrow-btn {
		width: 1rem;
		height: 1rem;
		fill: $white;
	}
}
.promo-container {
	padding: 11.5rem 0;
}
