footer.footer
	.container
		.footer-container 
			.footer-menu
				h4.footer__title Menu 
				ul.footer-menu__nav 
					li.footer-menu__item
						a.footer-menu__link(href="#") Home
							
					li.footer-menu__item
						a.footer-menu__link(href="#advantage") Our Advantages

					li.footer-menu__item
						a.footer-menu__link(href="#start") Get started

					li.footer-menu__item
						a.footer-menu__link(href="#service") Tariff

					li.footer-menu__item
						a.footer-menu__link(href="#faq") FAQ


			.footer-privacy
				h4.footer__title PRIVACY
				ul.footer-menu__nav 
					li.footer-menu__item
						a.footer-menu__link(href="#") Terms of Service
							
					li.footer-menu__item
						a.footer-menu__link(href="#") Privacy Policy

					li.footer-menu__item
						a.footer-menu__link(href="#start") Get started

			
			
			.footer-about
				h4.footer__title ABOUT US
				p.footer-about__text Our team can boast a lot of years of experience in social marketing and promotion sphere, which permits us to build an extensive basis of real accounts. A well-developed algorithm finds the right audience according to the indicated information.
				span 2020 © Martaby. All Rights Reserved.

		.scrollup
			+icon('up-arrow')

