section.advantages(id='advantage')
    .container 
        h3.advantages-container__title Our Advantages
        .advantages-container 
            .advantages-info
                a.advantages-social(href="#")
                    span Instagramm
                    span.advantages-social__icon 
                        +icon('checked')
                h4.advantages-info__title Use brand-new growth methods to get your targeted audience with Martaby!
                p.advantages-info__text We have worked out effective algorithms over the years that will allow you to achieve the desired results in the soonest possible time. There is no need to study the technical aspects of promotion on your own or spend a lot of time searching for subscribers on social networks, because you can use our services and save your time. Obtaining subscribers on our website will make ordinary users draw attention to your posts und subscribe to your page. Consequently, your account will get into the top in such a way and as a result it will become noticeable and arouse interest among users. 
                a.advantages-info__btn  Get free viewers
                    +icon('arrow-btn')

            .advantages-privilege
                .advantages-privilege__item
                    .advantages-privilege__item-top 
                        img.advantages-privilege__img(src="./images/decoration/reliability.png", alt="reliability.png")
                        h4.advantages-privilege__title Reliability
                    p.advantages-privilege__text As we provide high-quality services, you will immediately see and enjoy the growth of your business.
                .advantages-privilege__item
                    .advantages-privilege__item-top 
                        img.advantages-privilege__img(src="./images/decoration/price.png", alt="price.png")
                        h4.advantages-privilege__title Low prices
                    p.advantages-privilege__text We take care of our customers and offer our services at available prices.

                .advantages-privilege__item
                    .advantages-privilege__item-top 
                        img.advantages-privilege__img(src="./images/decoration/support.png", alt="support.png")
                        h4.advantages-privilege__title 24/7 professional support
                    p.advantages-privilege__text We are always in touch to help you with any tasks around the clock.

                .advantages-privilege__item
                    .advantages-privilege__item-top 
                        img.advantages-privilege__img(src="./images/decoration/prevention.png", alt="prevention.png")
                        h4.advantages-privilege__title No bans
                    p.advantages-privilege__text AYou can surely use our promotional services without any fear to be banned. 
