section.questions
    .container 
        .questions-container(id='faq')    
            h3.questions__title Frequently asked questions
            span.questions__text Below you can find some info that may be helpful for your decision

        .acor-container 
            input( type="radio" name="acor" id="acor1")
            label( for="acor1")
                +icon('line')
                span What accounts are in the TOP?
            .acor-body
                p The precise quantity of followers is difficult to estimate as it depends on the package that you choose, the type of business you work in and your posts. As a rule, our customers can gain from 500 to 6000 new subscribers a month.

            input( type="radio" name="acor" id="acor2" )
            label( for="acor2") 
                +icon('line')
                span How many followers will I get a month?
            .acor-body
                p The precise quantity of followers is difficult to estimate as it depends on the package that you choose, the type of business you work in and your posts. As a rule, our customers can gain from 500 to 6000 new subscribers a month.

            input( type="radio" name="acor" id="acor3" )
            label( for="acor3") 
                +icon('line')
                span Is it possible that my account will be banned?
            .acor-body
                p The precise quantity of followers is difficult to estimate as it depends on the package that you choose, the type of business you work in and your posts. As a rule, our customers can gain from 500 to 6000 new subscribers a month.

            input( type="radio" name="acor" id="acor4")
            label( for="acor4") 
                +icon('line')
                span When can I receive my first followers?
            .acor-body
                p The precise quantity of followers is difficult to estimate as it depends on the package that you choose, the type of business you work in and your posts. As a rule, our customers can gain from 500 to 6000 new subscribers a month.

            input( type="radio" name="acor" id="acor5" )
            label( for="acor5") 
                +icon('line')
                span Are there any guarantees that you provide quality services?
            .acor-body
                p The precise quantity of followers is difficult to estimate as it depends on the package that you choose, the type of business you work in and your posts. As a rule, our customers can gain from 500 to 6000 new subscribers a month.

            input( type="radio" name="acor" id="acor6" )
            label( for="acor6") 
                +icon('line')
                span Do I need to enter my account and password?
            .acor-body
                p The precise quantity of followers is difficult to estimate as it depends on the package that you choose, the type of business you work in and your posts. As a rule, our customers can gain from 500 to 6000 new subscribers a month.

            
            
        
        
