.steps 
    .container 
        .steps-container 
            h3.steps__title Take several easy steps to get started
            .steps-choose
                .steps-choose__items 
                    h4.steps-choose__title Choose a plan
                    img.steps-choose__img(src="./images/decoration/ellips-green.png", alt="")
                    span.steps-choose__text Choose the package that suits your needs most of all!
            
            .steps-define 
                .steps-define__items 
                    h4.steps-define__title Define your goals
                    img.steps-define__img(src="./images/decoration/ellips-green.png", alt="")
                    span.steps-define__text Wait for the call of our manager and confirm your order!
            
            
            
            .steps-implement 
                .steps-implement__items 
                    h4.steps-implement__title Implement & grow
                    img.steps-implement__img(src="./images/decoration/ellips-green.png", alt="")
                    span.steps-implement__text Choose the package that suits your needs most of all!