section.partners 
	.container 
		.partners-items
			img.partners-items__img(src="./images/spotify.png", alt="фото партнера")
			img.partners-items__img(src="./images/vogue.png", alt="фото партнера")
			img.partners-items__img(src="./images/amazon.png", alt="фото партнера")
			img.partners-items__img(src="./images/variety.png", alt="фото партнера")